# Ignore everything except the native app
/*
!android_app/

# Basic ignores
node_modules/
.venv/
venv/
__pycache__/
media/
mediafiles/
static/
staticfiles/
db.sqlite3
.git/
.github/
Face Cropper/
mobile_shell_app/
dist/
build/
tailwindcss.exe
scripts/
docs/
exports/
scratch/
