CREATE TABLE IF NOT EXISTS "django_migrations" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "app" varchar(255) NOT NULL, "name" varchar(255) NOT NULL, "applied" datetime NOT NULL);
CREATE TABLE sqlite_sequence(name,seq);
CREATE TABLE IF NOT EXISTS "django_content_type" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "app_label" varchar(100) NOT NULL, "model" varchar(100) NOT NULL);
CREATE UNIQUE INDEX "django_content_type_app_label_model_76bd3d3b_uniq" ON "django_content_type" ("app_label", "model");
CREATE TABLE IF NOT EXISTS "auth_group_permissions" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "group_id" integer NOT NULL REFERENCES "auth_group" ("id") DEFERRABLE INITIALLY DEFERRED, "permission_id" integer NOT NULL REFERENCES "auth_permission" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE UNIQUE INDEX "auth_group_permissions_group_id_permission_id_0cd325b0_uniq" ON "auth_group_permissions" ("group_id", "permission_id");
CREATE INDEX "auth_group_permissions_group_id_b120cbf9" ON "auth_group_permissions" ("group_id");
CREATE INDEX "auth_group_permissions_permission_id_84c5c92e" ON "auth_group_permissions" ("permission_id");
CREATE TABLE IF NOT EXISTS "auth_permission" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "content_type_id" integer NOT NULL REFERENCES "django_content_type" ("id") DEFERRABLE INITIALLY DEFERRED, "codename" varchar(100) NOT NULL, "name" varchar(255) NOT NULL);
CREATE UNIQUE INDEX "auth_permission_content_type_id_codename_01ab375a_uniq" ON "auth_permission" ("content_type_id", "codename");
CREATE INDEX "auth_permission_content_type_id_2f476e4b" ON "auth_permission" ("content_type_id");
CREATE TABLE IF NOT EXISTS "auth_group" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "name" varchar(150) NOT NULL UNIQUE);
CREATE TABLE IF NOT EXISTS "core_systemsettings" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "key" varchar(100) NOT NULL UNIQUE, "value" text NOT NULL, "description" varchar(255) NULL, "updated_at" datetime NOT NULL);
CREATE TABLE IF NOT EXISTS "core_user_groups" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "user_id" bigint NOT NULL REFERENCES "core_user" ("id") DEFERRABLE INITIALLY DEFERRED, "group_id" integer NOT NULL REFERENCES "auth_group" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "core_user_user_permissions" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "user_id" bigint NOT NULL REFERENCES "core_user" ("id") DEFERRABLE INITIALLY DEFERRED, "permission_id" integer NOT NULL REFERENCES "auth_permission" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "core_idcardgroup" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "name" varchar(200) NOT NULL, "description" text NULL, "is_active" bool NOT NULL, "created_at" datetime NOT NULL, "updated_at" datetime NOT NULL, "client_id" bigint NOT NULL REFERENCES "core_client" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE UNIQUE INDEX "core_user_groups_user_id_group_id_c82fcad1_uniq" ON "core_user_groups" ("user_id", "group_id");
CREATE INDEX "core_user_groups_user_id_70b4d9b8" ON "core_user_groups" ("user_id");
CREATE INDEX "core_user_groups_group_id_fe8c697f" ON "core_user_groups" ("group_id");
CREATE UNIQUE INDEX "core_user_user_permissions_user_id_permission_id_73ea0daa_uniq" ON "core_user_user_permissions" ("user_id", "permission_id");
CREATE INDEX "core_user_user_permissions_user_id_085123d3" ON "core_user_user_permissions" ("user_id");
CREATE INDEX "core_user_user_permissions_permission_id_35ccf601" ON "core_user_user_permissions" ("permission_id");
CREATE INDEX "core_idcardgroup_client_id_a07b4be9" ON "core_idcardgroup" ("client_id");
CREATE TABLE IF NOT EXISTS "django_admin_log" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "object_id" text NULL, "object_repr" varchar(200) NOT NULL, "action_flag" smallint unsigned NOT NULL CHECK ("action_flag" >= 0), "change_message" text NOT NULL, "content_type_id" integer NULL REFERENCES "django_content_type" ("id") DEFERRABLE INITIALLY DEFERRED, "user_id" bigint NOT NULL REFERENCES "core_user" ("id") DEFERRABLE INITIALLY DEFERRED, "action_time" datetime NOT NULL);
CREATE INDEX "django_admin_log_content_type_id_c4bce8eb" ON "django_admin_log" ("content_type_id");
CREATE INDEX "django_admin_log_user_id_c564eba6" ON "django_admin_log" ("user_id");
CREATE TABLE IF NOT EXISTS "core_staff_assigned_clients" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "staff_id" bigint NOT NULL REFERENCES "core_staff" ("id") DEFERRABLE INITIALLY DEFERRED, "client_id" bigint NOT NULL REFERENCES "core_client" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE UNIQUE INDEX "core_staff_assigned_clients_staff_id_client_id_174dd591_uniq" ON "core_staff_assigned_clients" ("staff_id", "client_id");
CREATE INDEX "core_staff_assigned_clients_staff_id_4a95bab9" ON "core_staff_assigned_clients" ("staff_id");
CREATE INDEX "core_staff_assigned_clients_client_id_9b3df389" ON "core_staff_assigned_clients" ("client_id");
CREATE TABLE IF NOT EXISTS "core_staff_assigned_groups" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "staff_id" bigint NOT NULL REFERENCES "core_staff" ("id") DEFERRABLE INITIALLY DEFERRED, "idcardgroup_id" bigint NOT NULL REFERENCES "core_idcardgroup" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE UNIQUE INDEX "core_staff_assigned_groups_staff_id_idcardgroup_id_69e65e64_uniq" ON "core_staff_assigned_groups" ("staff_id", "idcardgroup_id");
CREATE INDEX "core_staff_assigned_groups_staff_id_97aff571" ON "core_staff_assigned_groups" ("staff_id");
CREATE INDEX "core_staff_assigned_groups_idcardgroup_id_657ebafe" ON "core_staff_assigned_groups" ("idcardgroup_id");
CREATE TABLE IF NOT EXISTS "core_reprintrequest" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "reason" text NOT NULL, "created_at" datetime NOT NULL, "updated_at" datetime NOT NULL, "card_id" bigint NOT NULL REFERENCES "core_idcard" ("id") DEFERRABLE INITIALLY DEFERRED, "requested_by_id" bigint NULL REFERENCES "core_user" ("id") DEFERRABLE INITIALLY DEFERRED, "table_id" bigint NOT NULL REFERENCES "core_idcardtable" ("id") DEFERRABLE INITIALLY DEFERRED, "status" varchar(20) NOT NULL);
CREATE INDEX "core_reprintrequest_card_id_56a8af2a" ON "core_reprintrequest" ("card_id");
CREATE INDEX "core_reprintrequest_requested_by_id_1af58ebf" ON "core_reprintrequest" ("requested_by_id");
CREATE INDEX "core_reprintrequest_table_id_ed4c30ba" ON "core_reprintrequest" ("table_id");
CREATE INDEX "core_reprintrequest_status_9ea17670" ON "core_reprintrequest" ("status");
CREATE TABLE IF NOT EXISTS "core_activitylog" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "action" varchar(30) NOT NULL, "description" varchar(500) NOT NULL, "target_model" varchar(50) NOT NULL, "target_id" integer unsigned NULL CHECK ("target_id" >= 0), "target_name" varchar(200) NOT NULL, "ip_address" char(39) NULL, "created_at" datetime NOT NULL, "user_id" bigint NULL REFERENCES "core_user" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE INDEX "core_activitylog_action_3e8b00da" ON "core_activitylog" ("action");
CREATE INDEX "core_activitylog_created_at_0dcde50a" ON "core_activitylog" ("created_at");
CREATE INDEX "core_activitylog_user_id_8705e516" ON "core_activitylog" ("user_id");
CREATE INDEX "actlog_time_action_idx" ON "core_activitylog" ("created_at" DESC, "action");
CREATE TABLE IF NOT EXISTS "core_backgroundtask" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "task_type" varchar(30) NOT NULL, "status" varchar(20) NOT NULL, "progress" integer NOT NULL, "total" integer NOT NULL, "file_path" varchar(500) NULL, "result_path" varchar(500) NULL, "metadata" text NOT NULL CHECK ((JSON_VALID("metadata") OR "metadata" IS NULL)), "error_message" text NULL, "created_at" datetime NOT NULL, "updated_at" datetime NOT NULL, "started_at" datetime NULL, "completed_at" datetime NULL, "user_id" bigint NOT NULL REFERENCES "core_user" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE INDEX "core_backgroundtask_status_e1099f2f" ON "core_backgroundtask" ("status");
CREATE INDEX "core_backgroundtask_user_id_1ccbc342" ON "core_backgroundtask" ("user_id");
CREATE INDEX "core_backgr_user_id_7301af_idx" ON "core_backgroundtask" ("user_id", "status");
CREATE INDEX "core_backgr_task_ty_a10807_idx" ON "core_backgroundtask" ("task_type", "status");
CREATE INDEX "core_backgr_created_d8ad5b_idx" ON "core_backgroundtask" ("created_at");
CREATE INDEX "core_backgr_complet_426798_idx" ON "core_backgroundtask" ("completed_at");
CREATE INDEX "core_idcard_is_acti_5b1224_idx" ON "core_idcardgroup" ("is_active");
CREATE INDEX "core_idcard_created_a4a833_idx" ON "core_idcardgroup" ("created_at");
CREATE INDEX "core_reprin_table_i_e758bf_idx" ON "core_reprintrequest" ("table_id", "status");
CREATE INDEX "core_reprin_created_8186a9_idx" ON "core_reprintrequest" ("created_at");
CREATE INDEX "core_idcard_client__4e7510_idx" ON "core_idcardgroup" ("client_id", "is_active");
CREATE INDEX "actlog_user_time_idx" ON "core_activitylog" ("user_id", "created_at" DESC);
CREATE INDEX "core_backgr_user_id_4b7803_idx" ON "core_backgroundtask" ("user_id", "created_at" DESC);
CREATE INDEX "core_backgr_status_7fe599_idx" ON "core_backgroundtask" ("status", "created_at" DESC);
CREATE TABLE IF NOT EXISTS "mediafiles_cardmedia" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "file" varchar(100) NOT NULL, "media_type" varchar(20) NOT NULL, "original_filename" varchar(255) NULL, "field_name" varchar(100) NULL, "created_at" datetime NOT NULL, "updated_at" datetime NOT NULL, "is_migrated" bool NOT NULL, "legacy_path" varchar(500) NULL, "card_id" bigint NULL REFERENCES "core_idcard" ("id") DEFERRABLE INITIALLY DEFERRED, "client_id" bigint NOT NULL REFERENCES "core_client" ("id") DEFERRABLE INITIALLY DEFERRED, "group_id" bigint NULL REFERENCES "core_idcardgroup" ("id") DEFERRABLE INITIALLY DEFERRED, "uploaded_by_id" bigint NULL REFERENCES "core_user" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE INDEX "mediafiles_cardmedia_media_type_a6b9e85e" ON "mediafiles_cardmedia" ("media_type");
CREATE INDEX "mediafiles_cardmedia_original_filename_79664db5" ON "mediafiles_cardmedia" ("original_filename");
CREATE INDEX "mediafiles_cardmedia_card_id_a297bc5e" ON "mediafiles_cardmedia" ("card_id");
CREATE INDEX "mediafiles_cardmedia_client_id_ad2f6af6" ON "mediafiles_cardmedia" ("client_id");
CREATE INDEX "mediafiles_cardmedia_group_id_2a941d9c" ON "mediafiles_cardmedia" ("group_id");
CREATE INDEX "mediafiles_cardmedia_uploaded_by_id_84adf5fd" ON "mediafiles_cardmedia" ("uploaded_by_id");
CREATE INDEX "mediafiles__client__a8c24a_idx" ON "mediafiles_cardmedia" ("client_id", "media_type");
CREATE INDEX "mediafiles__card_id_696b76_idx" ON "mediafiles_cardmedia" ("card_id", "media_type");
CREATE INDEX "mediafiles__origina_44dbc7_idx" ON "mediafiles_cardmedia" ("original_filename");
CREATE INDEX "mediafiles__card_id_2a384a_idx" ON "mediafiles_cardmedia" ("card_id", "field_name");
CREATE INDEX "mediafiles__created_761131_idx" ON "mediafiles_cardmedia" ("created_at");
CREATE TABLE IF NOT EXISTS "django_session" ("session_key" varchar(40) NOT NULL PRIMARY KEY, "session_data" text NOT NULL, "expire_date" datetime NOT NULL);
CREATE INDEX "django_session_expire_date_a5c62663" ON "django_session" ("expire_date");
CREATE TABLE IF NOT EXISTS "website_websitestatus" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "status" varchar(10) NOT NULL, "updated_at" datetime NOT NULL);
CREATE INDEX "core_reprin_table_i_490be1_idx" ON "core_reprintrequest" ("table_id", "status", "created_at" DESC);
CREATE INDEX "core_reprin_card_id_b9716c_idx" ON "core_reprintrequest" ("card_id");
CREATE TABLE IF NOT EXISTS "core_notification" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "title" varchar(200) NOT NULL, "message" text NOT NULL, "priority" varchar(10) NOT NULL, "category" varchar(20) NOT NULL, "target" varchar(20) NOT NULL, "created_at" datetime NOT NULL, "is_active" bool NOT NULL, "created_by_id" bigint NULL REFERENCES "core_user" ("id") DEFERRABLE INITIALLY DEFERRED, "expires_at" datetime NULL);
CREATE TABLE IF NOT EXISTS "core_notification_target_users" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "notification_id" bigint NOT NULL REFERENCES "core_notification" ("id") DEFERRABLE INITIALLY DEFERRED, "user_id" bigint NOT NULL REFERENCES "core_user" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "core_notificationread" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "read_at" datetime NOT NULL, "notification_id" bigint NOT NULL REFERENCES "core_notification" ("id") DEFERRABLE INITIALLY DEFERRED, "user_id" bigint NOT NULL REFERENCES "core_user" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE INDEX "notif_time_target_idx" ON "core_notification" ("created_at" DESC, "target");
CREATE INDEX "notif_active_time_idx" ON "core_notification" ("is_active", "created_at" DESC);
CREATE INDEX "notifread_user_time_idx" ON "core_notificationread" ("user_id", "read_at" DESC);
CREATE UNIQUE INDEX "core_notificationread_user_id_notification_id_32459911_uniq" ON "core_notificationread" ("user_id", "notification_id");
CREATE INDEX "core_notification_priority_56cb0156" ON "core_notification" ("priority");
CREATE INDEX "core_notification_category_62266256" ON "core_notification" ("category");
CREATE INDEX "core_notification_created_at_1aa134a3" ON "core_notification" ("created_at");
CREATE INDEX "core_notification_created_by_id_b954034c" ON "core_notification" ("created_by_id");
CREATE UNIQUE INDEX "core_notification_target_users_notification_id_user_id_94be7680_uniq" ON "core_notification_target_users" ("notification_id", "user_id");
CREATE INDEX "core_notification_target_users_notification_id_92bbb34b" ON "core_notification_target_users" ("notification_id");
CREATE INDEX "core_notification_target_users_user_id_8a5f8630" ON "core_notification_target_users" ("user_id");
CREATE INDEX "core_notificationread_notification_id_e8eed608" ON "core_notificationread" ("notification_id");
CREATE INDEX "core_notificationread_user_id_94dd8ebe" ON "core_notificationread" ("user_id");
CREATE TABLE IF NOT EXISTS "website_faq" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "question" varchar(500) NOT NULL, "answer" text NOT NULL, "order" integer NOT NULL, "created_at" datetime NOT NULL, "updated_at" datetime NOT NULL, "is_active" bool NOT NULL);
CREATE INDEX "website_faq_is_active_8497d883" ON "website_faq" ("is_active");
CREATE TABLE IF NOT EXISTS "website_feature" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "title" varchar(255) NOT NULL, "description" text NOT NULL, "icon" varchar(50) NOT NULL, "number" integer unsigned NOT NULL CHECK ("number" >= 0), "highlight" varchar(255) NOT NULL, "is_active" bool NOT NULL, "order" integer NOT NULL, "created_at" datetime NOT NULL, "updated_at" datetime NOT NULL, "is_featured" bool NOT NULL);
CREATE INDEX "website_feature_is_active_b2b5c54b" ON "website_feature" ("is_active");
CREATE INDEX "website_feature_is_featured_55404442" ON "website_feature" ("is_featured");
CREATE INDEX "website_faq_is_acti_73bacf_idx" ON "website_faq" ("is_active", "order");
CREATE INDEX "website_fea_is_acti_6bd60f_idx" ON "website_feature" ("is_active", "order");
CREATE TABLE IF NOT EXISTS "website_contactsubmission" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "name" varchar(255) NOT NULL, "phone" varchar(20) NOT NULL, "subject" varchar(255) NOT NULL, "message" text NOT NULL, "status" varchar(20) NOT NULL, "email_status" varchar(20) NOT NULL, "email_retry_count" integer NOT NULL, "email_last_attempt" datetime NULL, "email_sent_at" datetime NULL, "created_at" datetime NOT NULL, "updated_at" datetime NOT NULL, "email" varchar(254) NOT NULL);
CREATE INDEX "website_contactsubmission_email_79ddab3d" ON "website_contactsubmission" ("email");
CREATE INDEX "website_con_status_53fdd9_idx" ON "website_contactsubmission" ("status");
CREATE INDEX "website_con_email_s_69be1a_idx" ON "website_contactsubmission" ("email_status");
CREATE INDEX "website_con_created_c6daa0_idx" ON "website_contactsubmission" ("created_at");
CREATE TABLE IF NOT EXISTS "core_backuptask" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "status" varchar(20) NOT NULL, "confirmation_code" varchar(10) NOT NULL, "client_ids" text NOT NULL CHECK ((JSON_VALID("client_ids") OR "client_ids" IS NULL)), "client_names" text NOT NULL CHECK ((JSON_VALID("client_names") OR "client_names" IS NULL)), "progress" integer NOT NULL, "total" integer NOT NULL, "current_client" varchar(200) NOT NULL, "zip_files" text NOT NULL CHECK ((JSON_VALID("zip_files") OR "zip_files" IS NULL)), "auto_delete_at" datetime NULL, "is_auto_delete_cancelled" bool NOT NULL, "error_message" text NOT NULL, "created_at" datetime NOT NULL, "started_at" datetime NULL, "completed_at" datetime NULL, "created_by_id" bigint NULL REFERENCES "core_user" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE INDEX "core_backuptask_status_97847340" ON "core_backuptask" ("status");
CREATE INDEX "core_backuptask_created_by_id_9705f938" ON "core_backuptask" ("created_by_id");
CREATE INDEX "core_backup_status_dda238_idx" ON "core_backuptask" ("status", "created_at" DESC);
CREATE INDEX "core_backup_auto_de_287a00_idx" ON "core_backuptask" ("auto_delete_at");
CREATE TABLE IF NOT EXISTS "core_idcardtable" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "name" varchar(255) NOT NULL, "fields" text NOT NULL CHECK ((JSON_VALID("fields") OR "fields" IS NULL)), "is_active" bool NOT NULL, "created_at" datetime NOT NULL, "updated_at" datetime NOT NULL, "group_id" bigint NOT NULL REFERENCES "core_idcardgroup" ("id") DEFERRABLE INITIALLY DEFERRED, "deleted_by_client" bool NOT NULL);
CREATE INDEX "core_idcardtable_group_id_6af2e167" ON "core_idcardtable" ("group_id");
CREATE INDEX "core_idcard_is_acti_774067_idx" ON "core_idcardtable" ("is_active");
CREATE INDEX "core_idcard_created_100402_idx" ON "core_idcardtable" ("created_at");
CREATE INDEX "core_idcard_group_i_a1a0c9_idx" ON "core_idcardtable" ("group_id", "is_active");
CREATE TABLE IF NOT EXISTS "core_idcard" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "field_data" text NOT NULL CHECK ((JSON_VALID("field_data") OR "field_data" IS NULL)), "photo" varchar(100) NULL, "original_photo_name" varchar(255) NULL, "status" varchar(20) NOT NULL, "created_at" datetime NOT NULL, "updated_at" datetime NOT NULL, "table_id" bigint NOT NULL REFERENCES "core_idcardtable" ("id") DEFERRABLE INITIALLY DEFERRED, "deleted_at" datetime NULL, "downloaded_at" datetime NULL, "modified_by" varchar(150) NOT NULL, "status_changed_at" datetime NULL);
CREATE INDEX "core_idcard_original_photo_name_f83245d6" ON "core_idcard" ("original_photo_name");
CREATE INDEX "core_idcard_status_75e69cff" ON "core_idcard" ("status");
CREATE INDEX "core_idcard_table_id_52139f31" ON "core_idcard" ("table_id");
CREATE INDEX "core_idcard_table_i_85127c_idx" ON "core_idcard" ("table_id", "status");
CREATE INDEX "core_idcard_created_ff3f57_idx" ON "core_idcard" ("created_at");
CREATE INDEX "core_idcard_updated_8223db_idx" ON "core_idcard" ("updated_at");
CREATE INDEX "core_idcard_status_a9d94a_idx" ON "core_idcard" ("status", "created_at");
CREATE INDEX "core_idcard_table_i_a6fa6f_idx" ON "core_idcard" ("table_id", "created_at");
CREATE INDEX "idcard_tbl_status_id_desc" ON "core_idcard" ("table_id", "status", "id" DESC);
CREATE INDEX "idcard_downloaded_at_idx" ON "core_idcard" ("downloaded_at");
CREATE INDEX "idcard_deleted_at_idx" ON "core_idcard" ("deleted_at");
CREATE INDEX "idcard_status_changed_at_idx" ON "core_idcard" ("status_changed_at");
CREATE TABLE IF NOT EXISTS "core_exporttemplate" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "name" varchar(100) NOT NULL UNIQUE, "instructions" text NOT NULL, "is_default" bool NOT NULL, "created_at" datetime NOT NULL, "updated_at" datetime NOT NULL, "font_name" varchar(10) NOT NULL, "is_bold" bool NOT NULL);
CREATE TABLE IF NOT EXISTS "cardprint_printrequest" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "created_at" datetime NOT NULL, "updated_at" datetime NOT NULL, "card_id" bigint NOT NULL REFERENCES "core_idcard" ("id") DEFERRABLE INITIALLY DEFERRED, "requested_by_id" bigint NULL REFERENCES "core_user" ("id") DEFERRABLE INITIALLY DEFERRED, "table_id" bigint NOT NULL REFERENCES "core_idcardtable" ("id") DEFERRABLE INITIALLY DEFERRED, "status" varchar(20) NOT NULL);
CREATE INDEX "cardprint_printrequest_card_id_2feaed21" ON "cardprint_printrequest" ("card_id");
CREATE INDEX "cardprint_printrequest_requested_by_id_674007d3" ON "cardprint_printrequest" ("requested_by_id");
CREATE INDEX "cardprint_printrequest_table_id_6e3b57e3" ON "cardprint_printrequest" ("table_id");
CREATE INDEX "cardprint_printrequest_status_4e222ab0" ON "cardprint_printrequest" ("status");
CREATE INDEX "cardprint_p_table_i_31f927_idx" ON "cardprint_printrequest" ("table_id", "status");
CREATE INDEX "cardprint_p_table_i_96c2c2_idx" ON "cardprint_printrequest" ("table_id", "status", "created_at" DESC);
CREATE INDEX "cardprint_p_card_id_7cde6a_idx" ON "cardprint_printrequest" ("card_id");
CREATE INDEX "cardprint_p_created_1a229e_idx" ON "cardprint_printrequest" ("created_at");
CREATE TABLE IF NOT EXISTS "core_emaillog" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "recipient_name" varchar(200) NOT NULL, "recipient_email" varchar(254) NOT NULL, "subject" varchar(300) NOT NULL, "email_type" varchar(30) NOT NULL, "status" varchar(20) NOT NULL, "error_message" text NOT NULL, "created_at" datetime NOT NULL, "sent_at" datetime NULL, "body_html" text NOT NULL, "body_text" text NOT NULL);
CREATE INDEX "core_emaillog_recipient_email_f83b13a8" ON "core_emaillog" ("recipient_email");
CREATE INDEX "core_emaillog_email_type_a13d9609" ON "core_emaillog" ("email_type");
CREATE INDEX "core_emaillog_status_418038d8" ON "core_emaillog" ("status");
CREATE INDEX "core_emaillog_created_at_9bce8502" ON "core_emaillog" ("created_at");
CREATE INDEX "mediafiles__file_dbc7f5_idx" ON "mediafiles_cardmedia" ("file");
CREATE TABLE IF NOT EXISTS "core_clientmessage" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "message" text NOT NULL, "scope" varchar(20) NOT NULL, "recipient_count" integer unsigned NOT NULL CHECK ("recipient_count" >= 0), "created_at" datetime NOT NULL, "client_id" bigint NOT NULL REFERENCES "core_client" ("id") DEFERRABLE INITIALLY DEFERRED, "notification_id" bigint NULL UNIQUE REFERENCES "core_notification" ("id") DEFERRABLE INITIALLY DEFERRED, "sent_by_id" bigint NULL REFERENCES "core_user" ("id") DEFERRABLE INITIALLY DEFERRED, "expires_at" datetime NULL, "visibility" varchar(12) NOT NULL);
CREATE INDEX "core_clientmessage_scope_78188121" ON "core_clientmessage" ("scope");
CREATE INDEX "core_clientmessage_created_at_cb2de4ad" ON "core_clientmessage" ("created_at");
CREATE INDEX "core_clientmessage_client_id_faa670aa" ON "core_clientmessage" ("client_id");
CREATE INDEX "core_clientmessage_sent_by_id_e44435f4" ON "core_clientmessage" ("sent_by_id");
CREATE INDEX "core_clientmessage_expires_at_6264387b" ON "core_clientmessage" ("expires_at");
CREATE INDEX "core_clientmessage_visibility_d831a7e0" ON "core_clientmessage" ("visibility");
CREATE INDEX "climsg_client_time_idx" ON "core_clientmessage" ("client_id", "created_at" DESC);
CREATE INDEX "climsg_scope_time_idx" ON "core_clientmessage" ("scope", "created_at" DESC);
CREATE INDEX "climsg_visibility_exp_idx" ON "core_clientmessage" ("visibility", "expires_at");
CREATE INDEX "notif_active_exp_idx" ON "core_notification" ("is_active", "expires_at");
CREATE INDEX "core_notification_expires_at_fb26f53d" ON "core_notification" ("expires_at");
CREATE TABLE IF NOT EXISTS "mobile_app_mobiledevice" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "platform" varchar(20) NOT NULL, "installation_id" varchar(80) NOT NULL, "push_token" varchar(255) NOT NULL, "app_version" varchar(32) NOT NULL, "app_build" integer unsigned NOT NULL CHECK ("app_build" >= 0), "device_model" varchar(120) NOT NULL, "os_version" varchar(50) NOT NULL, "device_language" varchar(32) NOT NULL, "last_ip" char(39) NULL, "is_active" bool NOT NULL, "last_seen_at" datetime NOT NULL, "created_at" datetime NOT NULL, "updated_at" datetime NOT NULL, "user_id" bigint NOT NULL REFERENCES "core_user" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE UNIQUE INDEX "mobile_app_mobiledevice_user_id_platform_installation_id_235cbbae_uniq" ON "mobile_app_mobiledevice" ("user_id", "platform", "installation_id");
CREATE INDEX "mobile_app_mobiledevice_user_id_3ff54846" ON "mobile_app_mobiledevice" ("user_id");
CREATE TABLE IF NOT EXISTS "cardprint_cardtemplate" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "front_pdf" varchar(100) NULL, "back_pdf" varchar(100) NULL, "is_two_sided" bool NOT NULL, "field_mappings" text NOT NULL CHECK ((JSON_VALID("field_mappings") OR "field_mappings" IS NULL)), "font_size" integer NOT NULL, "font_family" varchar(50) NOT NULL, "created_at" datetime NOT NULL, "updated_at" datetime NOT NULL, "table_id" bigint NOT NULL REFERENCES "core_idcardtable" ("id") DEFERRABLE INITIALLY DEFERRED, "field_config" text NOT NULL CHECK ((JSON_VALID("field_config") OR "field_config" IS NULL)), "name" varchar(120) NOT NULL, "template_json" text NOT NULL CHECK ((JSON_VALID("template_json") OR "template_json" IS NULL)), "version" integer unsigned NOT NULL CHECK ("version" >= 0), "is_active" bool NOT NULL, "is_default" bool NOT NULL, "usage_count" integer unsigned NOT NULL CHECK ("usage_count" >= 0), "last_used_at" datetime NULL, "parent_template_id" bigint NULL REFERENCES "cardprint_cardtemplate" ("id") DEFERRABLE INITIALLY DEFERRED, CONSTRAINT "uniq_template_version_per_table" UNIQUE ("table_id", "version"));
CREATE INDEX "cardprint_cardtemplate_table_id_371f8a50" ON "cardprint_cardtemplate" ("table_id");
CREATE INDEX "cardprint_cardtemplate_version_e5c6841f" ON "cardprint_cardtemplate" ("version");
CREATE INDEX "cardprint_cardtemplate_is_active_b540c3b2" ON "cardprint_cardtemplate" ("is_active");
CREATE INDEX "cardprint_cardtemplate_is_default_6eae663f" ON "cardprint_cardtemplate" ("is_default");
CREATE INDEX "cardprint_cardtemplate_parent_template_id_9aa4a7c9" ON "cardprint_cardtemplate" ("parent_template_id");
CREATE UNIQUE INDEX "uniq_default_template_per_table" ON "cardprint_cardtemplate" ("table_id") WHERE "is_default";
CREATE TABLE IF NOT EXISTS "core_clientpresencesession" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "session_key" varchar(64) NOT NULL, "tab_id" varchar(80) NOT NULL, "user_role" varchar(20) NOT NULL, "started_at" datetime NOT NULL, "last_seen_at" datetime NOT NULL, "closed_at" datetime NULL, "client_id" bigint NOT NULL REFERENCES "core_client" ("id") DEFERRABLE INITIALLY DEFERRED, "user_id" bigint NOT NULL REFERENCES "core_user" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE UNIQUE INDEX "core_clientpresencesession_session_key_tab_id_2c2de6e9_uniq" ON "core_clientpresencesession" ("session_key", "tab_id");
CREATE INDEX "core_clientpresencesession_session_key_e3504abc" ON "core_clientpresencesession" ("session_key");
CREATE INDEX "core_clientpresencesession_tab_id_1003bf4d" ON "core_clientpresencesession" ("tab_id");
CREATE INDEX "core_clientpresencesession_user_role_f162f3be" ON "core_clientpresencesession" ("user_role");
CREATE INDEX "core_clientpresencesession_last_seen_at_2d2d2df1" ON "core_clientpresencesession" ("last_seen_at");
CREATE INDEX "core_clientpresencesession_closed_at_bbb3d2d9" ON "core_clientpresencesession" ("closed_at");
CREATE INDEX "core_clientpresencesession_client_id_888f5cd0" ON "core_clientpresencesession" ("client_id");
CREATE INDEX "core_clientpresencesession_user_id_97145815" ON "core_clientpresencesession" ("user_id");
CREATE INDEX "clpres_client_live_idx" ON "core_clientpresencesession" ("client_id", "closed_at", "last_seen_at");
CREATE INDEX "clpres_user_live_idx" ON "core_clientpresencesession" ("user_id", "closed_at", "last_seen_at");
CREATE INDEX "clpres_closed_seen_idx" ON "core_clientpresencesession" ("closed_at", "last_seen_at");
CREATE INDEX "idc_tbl_st_chg_id_idx" ON "core_idcard" ("table_id", "status", "status_changed_at" DESC, "id" DESC);
CREATE INDEX "idc_tbl_st_dld_id_idx" ON "core_idcard" ("table_id", "status", "downloaded_at" DESC, "id" DESC);
CREATE INDEX "idc_tbl_st_del_id_idx" ON "core_idcard" ("table_id", "status", "deleted_at" DESC, "id" DESC);
CREATE INDEX "mobile_app__platfor_b6561d_idx" ON "mobile_app_mobiledevice" ("platform", "installation_id");
CREATE INDEX "mobile_app__user_id_83df9e_idx" ON "mobile_app_mobiledevice" ("user_id", "is_active");
CREATE INDEX "mobile_app__user_id_e67e94_idx" ON "mobile_app_mobiledevice" ("user_id", "last_seen_at" DESC);
CREATE TABLE IF NOT EXISTS "accounts_userdevicesession" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "session_key" varchar(40) NOT NULL UNIQUE, "device_type" varchar(10) NOT NULL, "user_agent" text NULL, "ip_address" varchar(45) NULL, "created_at" datetime NOT NULL, "last_active" datetime NOT NULL, "user_id" bigint NOT NULL REFERENCES "core_user" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE INDEX "accounts_userdevicesession_user_id_cced2c8b" ON "accounts_userdevicesession" ("user_id");
CREATE INDEX "accounts_us_user_id_931c37_idx" ON "accounts_userdevicesession" ("user_id", "device_type");
CREATE INDEX "accounts_us_last_ac_acb9bf_idx" ON "accounts_userdevicesession" ("last_active");
CREATE TABLE IF NOT EXISTS "core_user" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "password" varchar(128) NOT NULL, "last_login" datetime NULL, "is_superuser" bool NOT NULL, "username" varchar(150) NOT NULL UNIQUE, "first_name" varchar(150) NOT NULL, "last_name" varchar(150) NOT NULL, "email" varchar(254) NOT NULL, "is_staff" bool NOT NULL, "date_joined" datetime NOT NULL, "phone" varchar(15) NULL, "role" varchar(20) NOT NULL, "is_active" bool NOT NULL, "created_at" datetime NOT NULL, "updated_at" datetime NOT NULL, "welcome_email_sent" bool NOT NULL, CONSTRAINT "unique_user_email" UNIQUE ("email"));
CREATE INDEX "core_user_role_eb6b84c1" ON "core_user" ("role");
CREATE TABLE IF NOT EXISTS "django_site" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "name" varchar(50) NOT NULL, "domain" varchar(100) NOT NULL UNIQUE);
CREATE TABLE IF NOT EXISTS "officework_officeworkleadtemplate" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "template_type" varchar(20) NOT NULL UNIQUE, "content" text NOT NULL, "updated_at" datetime NOT NULL);
CREATE TABLE IF NOT EXISTS "core_guestassignment" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "created_at" datetime NOT NULL, "updated_at" datetime NOT NULL, "created_by_id" bigint NOT NULL REFERENCES "core_user" ("id") DEFERRABLE INITIALLY DEFERRED, "user_id" bigint NOT NULL UNIQUE REFERENCES "core_user" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "core_guestassignment_assigned_clients" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "guestassignment_id" bigint NOT NULL REFERENCES "core_guestassignment" ("id") DEFERRABLE INITIALLY DEFERRED, "client_id" bigint NOT NULL REFERENCES "core_client" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE INDEX "core_guestassignment_created_by_id_d46bf7e4" ON "core_guestassignment" ("created_by_id");
CREATE UNIQUE INDEX "core_guestassignment_assigned_clients_guestassignment_id_client_id_df087cc3_uniq" ON "core_guestassignment_assigned_clients" ("guestassignment_id", "client_id");
CREATE INDEX "core_guestassignment_assigned_clients_guestassignment_id_a4e29840" ON "core_guestassignment_assigned_clients" ("guestassignment_id");
CREATE INDEX "core_guestassignment_assigned_clients_client_id_56c91468" ON "core_guestassignment_assigned_clients" ("client_id");
CREATE TABLE IF NOT EXISTS "website_heroimage" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "image" varchar(100) NOT NULL, "title" varchar(150) NOT NULL, "subtitle" varchar(200) NOT NULL, "order" integer unsigned NOT NULL CHECK ("order" >= 0), "is_active" bool NOT NULL, "created_at" datetime NOT NULL, "updated_at" datetime NOT NULL);
CREATE INDEX "website_heroimage_order_f00471a8" ON "website_heroimage" ("order");
CREATE INDEX "website_heroimage_is_active_4788f907" ON "website_heroimage" ("is_active");
CREATE TABLE IF NOT EXISTS "website_reel" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "title" varchar(255) NOT NULL, "description" varchar(500) NOT NULL, "thumbnail" varchar(100) NULL, "video_url" varchar(200) NOT NULL, "video_file" varchar(100) NULL, "views_count" varchar(20) NOT NULL, "likes_count" varchar(20) NOT NULL, "order" integer NOT NULL, "is_active" bool NOT NULL, "created_at" datetime NOT NULL, "updated_at" datetime NOT NULL);
CREATE INDEX "website_reel_is_active_cfc7570f" ON "website_reel" ("is_active");
CREATE INDEX "website_ree_is_acti_d62b7f_idx" ON "website_reel" ("is_active", "order");
CREATE TABLE IF NOT EXISTS "website_businessdetails" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "site_name" varchar(255) NOT NULL, "tagline" varchar(500) NOT NULL, "address" varchar(500) NOT NULL, "email" varchar(254) NOT NULL, "working_hours" varchar(255) NOT NULL, "facebook_url" varchar(200) NOT NULL, "instagram_url" varchar(200) NOT NULL, "twitter_url" varchar(200) NOT NULL, "whatsapp_number" varchar(20) NOT NULL, "hero_title" varchar(255) NOT NULL, "hero_description" text NOT NULL, "meta_description" text NOT NULL, "meta_keywords" varchar(500) NOT NULL, "created_at" datetime NOT NULL, "updated_at" datetime NOT NULL, "footer_text" varchar(500) NOT NULL, "is_active" bool NOT NULL, "linkedin_url" varchar(200) NOT NULL, "phone1" varchar(20) NOT NULL, "phone2" varchar(20) NOT NULL, "youtube_url" varchar(200) NOT NULL);
CREATE TABLE IF NOT EXISTS "website_portfoliocategory" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "name" varchar(255) NOT NULL, "slug" varchar(50) NOT NULL UNIQUE, "icon" varchar(50) NOT NULL, "description" text NOT NULL, "is_default" bool NOT NULL, "order" integer NOT NULL, "is_active" bool NOT NULL, "created_at" datetime NOT NULL, "updated_at" datetime NOT NULL, "bento_size" varchar(10) NOT NULL, "is_bento" bool NOT NULL, "meta_description" text NOT NULL, "meta_title" varchar(255) NOT NULL);
CREATE INDEX "website_portfoliocategory_is_active_917595a2" ON "website_portfoliocategory" ("is_active");
CREATE INDEX "website_por_is_acti_2087eb_idx" ON "website_portfoliocategory" ("is_active", "order");
CREATE TABLE IF NOT EXISTS "website_portfolioitem" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "title" varchar(255) NOT NULL, "slug" varchar(50) NOT NULL UNIQUE, "description" text NOT NULL, "image" varchar(100) NULL, "category_id" bigint NULL REFERENCES "website_portfoliocategory" ("id") DEFERRABLE INITIALLY DEFERRED, "orientation" varchar(20) NOT NULL, "is_featured" bool NOT NULL, "is_active" bool NOT NULL, "order" integer NOT NULL, "created_at" datetime NOT NULL, "updated_at" datetime NOT NULL, "item_type" varchar(10) NOT NULL, "video_file" varchar(100) NULL, "video_url" varchar(200) NOT NULL, "meta_description" text NOT NULL, "meta_title" varchar(255) NOT NULL);
CREATE INDEX "website_portfolioitem_category_id_0271db82" ON "website_portfolioitem" ("category_id");
CREATE INDEX "website_portfolioitem_is_featured_d97e0333" ON "website_portfolioitem" ("is_featured");
CREATE INDEX "website_portfolioitem_is_active_879c54a4" ON "website_portfolioitem" ("is_active");
CREATE INDEX "website_por_is_acti_fe86a4_idx" ON "website_portfolioitem" ("is_active", "order");
CREATE INDEX "website_por_is_acti_f28356_idx" ON "website_portfolioitem" ("is_active", "is_featured");
CREATE TABLE IF NOT EXISTS "website_testimonial" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "reviewer_name" varchar(255) NOT NULL, "reviewer_title" varchar(255) NOT NULL, "reviewer_school" varchar(255) NOT NULL, "reviewer_avatar" varchar(100) NULL, "rating" smallint unsigned NOT NULL CHECK ("rating" >= 0), "review_date" date NOT NULL, "helpful_count" integer unsigned NOT NULL CHECK ("helpful_count" >= 0), "tag" varchar(100) NOT NULL, "text" text NOT NULL, "is_active" bool NOT NULL, "created_at" datetime NOT NULL, "updated_at" datetime NOT NULL, "attachment_image" varchar(100) NULL, "reviewer_email" varchar(254) NOT NULL, "reviewer_ip" char(39) NULL);
CREATE INDEX "website_testimonial_is_active_ed5b2a2c" ON "website_testimonial" ("is_active");
CREATE INDEX "website_testimonial_reviewer_email_ba390d40" ON "website_testimonial" ("reviewer_email");
CREATE INDEX "website_tes_is_acti_632bfc_idx" ON "website_testimonial" ("is_active", "review_date" DESC);
CREATE INDEX "website_testimonial_reviewer_ip_02b69d1e" ON "website_testimonial" ("reviewer_ip");
CREATE TABLE IF NOT EXISTS "mobile_device_tokens" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "push_token" varchar(255) NOT NULL UNIQUE, "created_at" datetime NOT NULL, "updated_at" datetime NOT NULL, "user_id" bigint NOT NULL REFERENCES "core_user" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE INDEX "mobile_device_tokens_user_id_0ca1fd96" ON "mobile_device_tokens" ("user_id");
CREATE TABLE IF NOT EXISTS "core_client" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "image_folder_uuid" char(32) NOT NULL, "image_folder_code" varchar(10) NULL UNIQUE, "image_folder_suffix" varchar(5) NULL, "name" varchar(200) NOT NULL, "address" text NULL, "city" varchar(100) NULL, "state" varchar(100) NULL, "pincode" varchar(10) NULL, "perm_idcard_setting_list" bool NOT NULL, "perm_idcard_setting_add" bool NOT NULL, "perm_idcard_setting_edit" bool NOT NULL, "perm_idcard_setting_delete" bool NOT NULL, "perm_idcard_setting_status" bool NOT NULL, "perm_idcard_pending_list" bool NOT NULL, "perm_idcard_verified_list" bool NOT NULL, "perm_idcard_pool_list" bool NOT NULL, "perm_idcard_approved_list" bool NOT NULL, "perm_idcard_download_list" bool NOT NULL, "perm_idcard_reprint_list" bool NOT NULL, "perm_idcard_add" bool NOT NULL, "perm_idcard_edit" bool NOT NULL, "perm_idcard_delete" bool NOT NULL, "perm_idcard_info" bool NOT NULL, "perm_idcard_approve" bool NOT NULL, "perm_idcard_verify" bool NOT NULL, "perm_idcard_bulk_upload" bool NOT NULL, "perm_idcard_bulk_download" bool NOT NULL, "perm_idcard_updated_at" bool NOT NULL, "perm_idcard_delete_from_pool" bool NOT NULL, "perm_delete_all_idcard" bool NOT NULL, "perm_reupload_idcard_image" bool NOT NULL, "perm_idcard_retrieve" bool NOT NULL, "status" varchar(20) NOT NULL, "created_at" datetime NOT NULL, "updated_at" datetime NOT NULL, "user_id" bigint NOT NULL UNIQUE REFERENCES "core_user" ("id") DEFERRABLE INITIALLY DEFERRED, "perm_idcard_client_list" bool NOT NULL, "perm_idcard_bulk_reupload" bool NOT NULL, "perm_idcard_upgrade_all" bool NOT NULL, "perm_mobile_app" bool NOT NULL, "perm_set_temp_password" bool NOT NULL, "perm_reprint_request_list" bool NOT NULL, "perm_confirmed_list" bool NOT NULL, "perm_idcard_download_image_generate_mode" bool NOT NULL, "perm_idcard_download_image_rename_mode" bool NOT NULL, "is_guest" bool NOT NULL, "icon" varchar(100) NOT NULL);
CREATE INDEX "core_client_name_917f78d9" ON "core_client" ("name");
CREATE INDEX "core_client_status_f88aa215" ON "core_client" ("status");
CREATE INDEX "core_client_is_guest_31496708" ON "core_client" ("is_guest");
CREATE INDEX "core_client_created_f91eae_idx" ON "core_client" ("created_at");
CREATE INDEX "core_client_status_cb2b5e_idx" ON "core_client" ("status", "created_at" DESC);
CREATE INDEX "core_client_status_created_idx" ON "core_client" ("status", "created_at");
CREATE TABLE IF NOT EXISTS "core_staff" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "staff_type" varchar(20) NOT NULL, "address" text NULL, "department" varchar(100) NULL, "designation" varchar(100) NULL, "perm_idcard_setting_list" bool NOT NULL, "perm_idcard_setting_add" bool NOT NULL, "perm_idcard_setting_edit" bool NOT NULL, "perm_idcard_setting_delete" bool NOT NULL, "perm_idcard_setting_status" bool NOT NULL, "created_at" datetime NOT NULL, "updated_at" datetime NOT NULL, "client_id" bigint NULL REFERENCES "core_client" ("id") DEFERRABLE INITIALLY DEFERRED, "user_id" bigint NOT NULL UNIQUE REFERENCES "core_user" ("id") DEFERRABLE INITIALLY DEFERRED, "perm_idcard_add" bool NOT NULL, "perm_idcard_approve" bool NOT NULL, "perm_idcard_approved_list" bool NOT NULL, "perm_idcard_bulk_download" bool NOT NULL, "perm_idcard_bulk_upload" bool NOT NULL, "perm_idcard_delete" bool NOT NULL, "perm_idcard_delete_from_pool" bool NOT NULL, "perm_idcard_download_list" bool NOT NULL, "perm_idcard_edit" bool NOT NULL, "perm_idcard_info" bool NOT NULL, "perm_idcard_pending_list" bool NOT NULL, "perm_idcard_pool_list" bool NOT NULL, "perm_idcard_reprint_list" bool NOT NULL, "perm_idcard_retrieve" bool NOT NULL, "perm_idcard_updated_at" bool NOT NULL, "perm_idcard_verified_list" bool NOT NULL, "perm_idcard_verify" bool NOT NULL, "perm_reupload_idcard_image" bool NOT NULL, "perm_idcard_client_list" bool NOT NULL, "perm_idcard_bulk_reupload" bool NOT NULL, "perm_idcard_upgrade_all" bool NOT NULL, "perm_mobile_app" bool NOT NULL, "allowed_classes" text NOT NULL CHECK ((JSON_VALID("allowed_classes") OR "allowed_classes" IS NULL)), "allowed_sections" text NOT NULL CHECK ((JSON_VALID("allowed_sections") OR "allowed_sections" IS NULL)), "perm_confirmed_list" bool NOT NULL, "allowed_branches" text NOT NULL CHECK ((JSON_VALID("allowed_branches") OR "allowed_branches" IS NULL)), "assigned_table_ids" text NOT NULL CHECK ((JSON_VALID("assigned_table_ids") OR "assigned_table_ids" IS NULL)), "perm_reprint_request_list" bool NOT NULL, "assignment_scopes" text NOT NULL CHECK ((JSON_VALID("assignment_scopes") OR "assignment_scopes" IS NULL)), "perm_manage_panel_backup" bool NOT NULL, "perm_manage_panel_email" bool NOT NULL, "perm_manage_client_staff" bool NOT NULL, "perm_idcard_download_image_generate_mode" bool NOT NULL, "perm_idcard_download_image_rename_mode" bool NOT NULL, "perm_pro_data_deletion_guard" bool NOT NULL, "perm_pro_log_deletion_guard" bool NOT NULL, "perm_pro_user_options" bool NOT NULL, "perm_idcard_clear_pending_path" bool NOT NULL);
CREATE INDEX "core_staff_staff_type_05f54a00" ON "core_staff" ("staff_type");
CREATE INDEX "core_staff_client_id_62387b25" ON "core_staff" ("client_id");
CREATE INDEX "core_staff_created_c8f0a1_idx" ON "core_staff" ("created_at");
CREATE INDEX "core_staff_staff_t_81deb4_idx" ON "core_staff" ("staff_type", "created_at");
CREATE INDEX "core_staff_client__51d547_idx" ON "core_staff" ("client_id", "staff_type");
CREATE INDEX "staff_client_type_time_idx" ON "core_staff" ("client_id", "staff_type", "created_at" DESC);
CREATE TABLE IF NOT EXISTS "desktop_app_desktopappdevice" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "device_name" varchar(120) NOT NULL, "installation_id" varchar(128) NOT NULL UNIQUE, "token_hash" varchar(64) NOT NULL UNIQUE, "token_prefix" varchar(12) NOT NULL, "is_active" bool NOT NULL, "last_seen_at" datetime NULL, "last_ip_address" char(39) NULL, "token_expires_at" datetime NULL, "revoked_at" datetime NULL, "created_at" datetime NOT NULL, "updated_at" datetime NOT NULL);
CREATE INDEX "desktop_app_desktopappdevice_token_prefix_12634d52" ON "desktop_app_desktopappdevice" ("token_prefix");
CREATE INDEX "desktop_app_desktopappdevice_is_active_457f73a2" ON "desktop_app_desktopappdevice" ("is_active");
CREATE INDEX "desktop_app_is_acti_31c857_idx" ON "desktop_app_desktopappdevice" ("is_active", "created_at");
CREATE INDEX "desktop_app_install_27a551_idx" ON "desktop_app_desktopappdevice" ("installation_id");
CREATE INDEX "desktop_app_token_p_419d11_idx" ON "desktop_app_desktopappdevice" ("token_prefix");
