    <!-- Status Change Confirmation Modal (Center Modal) -->
    <div id="status-modal" class="modal-backdrop"
         x-show="activeModal === 'status'" x-transition.opacity
         style="display:none">
      <div class="modal-center modal-warning" @click.stop
           x-show="activeModal === 'status'" x-transition.scale.origin.center>
        <div class="modal-header" id="statusModalHeader">
          <h3><i class="fa-solid fa-toggle-on"></i> Confirm Status Change</h3>
          <button class="modal-close" type="button" aria-label="Close status modal"
                  @click="closeModal">
            <i class="fa-solid fa-xmark"></i>
          </button>
        </div>
        <div class="modal-body">
          <div class="modal-body-centered">
            <div class="modal-icon-circle modal-icon-circle--warning" id="statusModalIcon">
              <i class="fa-solid fa-toggle-on"></i>
            </div>
            <p class="modal-body-title">Change Status?</p>
            <p id="statusModalMessage" class="modal-body-subtitle">
              You are about to change the status of <strong id="statusClientName">this client</strong>.
            </p>
            <div class="alert-box alert-box--warning">
              <p class="alert-box-heading">
                <i class="fa-solid fa-circle-info"></i> Please Note
              </p>
              <ul class="alert-box-list" id="statusNote">
                <li>This will affect client's login access</li>
                <li>Changes will take effect immediately</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-md btn-neutral" type="button"
                  @click="closeModal">
            <i class="fa-solid fa-xmark"></i> Cancel
          </button>
          <button class="btn btn-md btn-warning" id="confirmStatusBtn" type="button">
            <i class="fa-solid fa-check"></i> Confirm
          </button>
        </div>
      </div>
    </div>
