<div class="center-modal-icon text-center" style="color: var(--color-blue);">
  <i class="fa-solid fa-cloud-arrow-up"></i>
</div>
<p class="center-modal-subtitle text-center">Select an XLSX file to bulk upload leads. The file should contain columns for Name, Contact, Email, Location, and Description.</p>

<div class="center-modal-dropzone" id="officeXlsxDropzone">
  <i class="fa-solid fa-file-excel"></i>
  <p>Click or drag XLSX file here to upload</p>
  <input type="file" id="officeXlsxFileInput" accept=".xlsx, .xls" hidden>
</div>

<div id="officeXlsxFilePreview" class="office-template-placeholder-info" style="display: none;">
  <i class="fa-solid fa-file-circle-check"></i> <span id="officeXlsxFileName"></span>
</div>
