<div class="actions">
    <div class="btn-group">
        <button class="btn btn-md btn-primary" id="addStaffBtn" title="Add New Photographer"><i class="fa-solid fa-plus"></i> Add</button>
        <button class="btn btn-md btn-neutral" id="editStaffBtn" title="Edit Selected Photographer" disabled><i class="fa-solid fa-pen"></i> Edit</button>
        <button class="btn btn-md btn-neutral" id="viewStaffBtn" title="View Selected Photographer" disabled><i class="fa-solid fa-eye"></i> View</button>
    </div>
    <div class="btn-separator"></div>
    <div class="btn-group">
        <button class="btn btn-md btn-primary" id="assignStaffBtn" title="Assign Clients" disabled><i class="fa-solid fa-link"></i> Assign</button>
    </div>
    <div class="btn-separator"></div>
    <div class="btn-group">
        <button class="btn btn-md btn-danger" id="deleteStaffBtn" title="Delete Selected Photographer" disabled><i class="fa-solid fa-trash"></i> Delete</button>
        <button class="btn btn-md btn-warning" id="activeStaffBtn" title="Toggle Photographer Status" disabled><i class="fa-solid fa-toggle-on"></i> Active</button>
    </div>
</div>
