<div class="dropdown-option {% if default_rows|stringformat:'s' == '5' %}selected{% endif %}" data-value="5">5</div>
<div class="dropdown-option {% if default_rows|stringformat:'s' == '10' or not default_rows %}selected{% endif %}" data-value="10">10</div>
<div class="dropdown-option {% if default_rows|stringformat:'s' == '25' %}selected{% endif %}" data-value="25">25</div>
<div class="dropdown-option {% if default_rows|stringformat:'s' == '50' %}selected{% endif %}" data-value="50">50</div>
<div class="dropdown-option {% if default_rows|stringformat:'s' == '100' %}selected{% endif %}" data-value="100">100</div>
