# Development Setup
# Uncomment the line below and replace with your computer's local IP address to test locally.
# Example: EXPO_PUBLIC_API_URL=http://192.168.1.100:8000

# Production Setup
# When deploying or building the app, comment out the local IP and use the live URL:
EXPO_PUBLIC_API_URL=https://panel.adarshbhopal.in
